// margin
.me{
  &-8{
    margin-right: 8px;
  }
  &-16{
    margin-right: 16px;
  }
  &-20{
    margin-right: 20px;
  }
  &-22{
    margin-right: 22px;
  }
  &-24{
    margin-right: 24px;
  }
  &-32{
    margin-right: 32px;
  }
  &-48{
    margin-right: 48px;
  }
  &-md{
    @include Tablet{
      &-8{
        margin-right: 8px;
      }
      &-16{
        margin-right: 16px;
      }
      &-20{
        margin-right: 20px;
      }
      &-22{
        margin-right: 22px;
      }
      &-24{
        margin-right: 24px;
      }
      &-32{
        margin-right: 32px;
      }
      &-48{
        margin-right: 48px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-8{
        margin-right: 8px;
      }
      &-16{
        margin-right: 16px;
      }
      &-20{
        margin-right: 20px;
      }
      &-22{
        margin-right: 22px;
      }
      &-24{
        margin-right: 24px;
      }
      &-32{
        margin-right: 32px;
      }
      &-48{
        margin-right: 48px;
      }
    }
  }
}
.ms{
  &-8{
    margin-left: 8px;
  }
  &-20{
    margin-left: 20px;
  }
  &-22{
    margin-left: 22px;
  }
  &-24{
    margin-left: 24px;
  }
  &-32{
    margin-left: 32px;
  }
  &-48{
    margin-left: 48px;
  }
  &-md{
    @include Tablet{
      &-8{
        margin-left: 8px;
      }
      &-20{
        margin-left: 20px;
      }
      &-22{
        margin-left: 22px;
      }
      &-32{
        margin-left: 32px;
      }
      &-48{
        margin-left: 48px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-8{
        margin-left: 8px;
      }
      &-20{
        margin-left: 20px;
      }
      &-22{
        margin-left: 22px;
      }
      &-32{
        margin-left: 32px;
      }
      &-48{
        margin-left: 48px;
      }
    }
  }
}
.mt{
  &-16{
    margin-top: 16px;
  }
  &-40{
    margin-top: 40px;
  }
  &-48{
    margin-top: 48px;
  }
  &-80{
    margin-top: 80px;
  }
  &-md{
    @include Tablet{
      &-96{
        margin-top: 96px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-96{
        margin-top: 96px;
      }
    }
  }
}
.mb{
  &-8{
    margin-bottom: 8px;
  }
  &-24{
    margin-bottom: 24px;
  }
  &-32{
    margin-bottom: 32px;
  }
  &-40{
    margin-bottom: 40px;
  }
  &-64{
    margin-bottom: 64px;
  }
  &-80{
    margin-bottom: 80px;
  }
  &-md{
    @include Tablet{
      &-0{
        margin-bottom: 0px;
      }
      &-8{
        margin-bottom: 8px;
      }
      &-24{
        margin-bottom: 24px;
      }
      &-32{
        margin-bottom: 32px;
      }
      &-40{
        margin-bottom: 40px;
      }
      &-80{
        margin-bottom: 80px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-0{
        margin-bottom: 0px;
      }
      &-8{
        margin-bottom: 8px;
      }
      &-24{
        margin-bottom: 24px;
      }
      &-32{
        margin-bottom: 32px;
      }
      &-40{
        margin-bottom: 40px;
      }
      &-80{
        margin-bottom: 80px;
      }
    }
  }
}
.my{
  &-auto{
    margin-top: auto;
    margin-bottom: auto;
  }
  &-6{
    margin-top: 6px;
    margin-bottom: 6px;
  }
  &-16{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &-25{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &-32{
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &-40{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &-md{
    @include Tablet{
      &-auto{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

// padding
.pe{
  &-8{
    padding-right: 8px;
  }
  &-20{
    padding-right: 20px;
  }
  &-22{
    padding-right: 22px;
  }
  &-32{
    padding-right: 32px;
  }
  &-48{
    padding-right: 48px;
  }
  &-md{
    @include Tablet{
      &-8{
        padding-right: 8px;
      }
      &-20{
        padding-right: 20px;
      }
      &-22{
        padding-right: 22px;
      }
      &-32{
        padding-right: 32px;
      }
      &-48{
        padding-right: 48px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-8{
        padding-right: 8px;
      }
      &-20{
        padding-right: 20px;
      }
      &-22{
        padding-right: 22px;
      }
      &-32{
        padding-right: 32px;
      }
      &-48{
        padding-right: 48px;
      }
    }
  }
}
.ps{
  &-8{
    padding-left: 8px;
  }
  &-12{
    padding-left: 12px;
  }
  &-16{
    padding-left: 16px;
  }
  &-20{
    padding-left: 20px;
  }
  &-22{
    padding-left: 22px;
  }
  &-24{
    padding-left: 24px;
  }
  &-32{
    padding-left: 32px;
  }
  &-48{
    padding-left: 48px;
  }
  &-md{
    @include Tablet{
      &-8{
        padding-left: 8px;
      }
      &-12{
        padding-left: 12px;
      }
      &-20{
        padding-left: 20px;
      }
      &-22{
        padding-left: 22px;
      }
      &-32{
        padding-left: 32px;
      }
      &-48{
        padding-left: 48px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-8{
        padding-left: 8px;
      }
      &-12{
        padding-left: 12px;
      }
      &-20{
        padding-left: 20px;
      }
      &-22{
        padding-left: 22px;
      }
      &-32{
        padding-left: 32px;
      }
      &-48{
        padding-left: 48px;
      }
    }
  }
}
.px{
  &-12{
    padding-right: 12px;
    padding-left: 12px;
  }
  &-16{
    padding-right: 16px;
    padding-left: 16px;
  }
  &-24{
    padding-right: 24px;
    padding-left: 24px;
  }
  &-md{
    @include Tablet{
      &-12{
        padding-right: 12px;
        padding-left: 12px;
      }
      &-16{
        padding-right: 16px;
        padding-left: 16px;
      }
      &-24{
        padding-right: 24px;
        padding-left: 24px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-12{
        padding-right: 12px;
        padding-left: 12px;
      }
      &-16{
        padding-right: 16px;
        padding-left: 16px;
      }
      &-24{
        padding-right: 24px;
        padding-left: 24px;
      }
    }
  }
}

.py{
  &-6{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &-10{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-12{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &-16{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &-18{
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &-24{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &-md{
    @include Tablet{
      &-10{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &-12{
        padding-top: 12px;
        padding-bottom: 12px;
      }
      &-16{
        padding-top: 16px;
        padding-bottom: 16px;
      }
      &-24{
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
  &-lg{
    @include Desktop{
      &-10{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &-12{
        padding-top: 12px;
        padding-bottom: 12px;
      }
      &-16{
        padding-top: 16px;
        padding-bottom: 16px;
      }
      &-24{
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
}