<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <%- include('./layout/meta'); -%>
    <title>眼鏡官網</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- type section -->

    <!-- banner section -->
    <div class="banner">
      <a href="" class="banner-img banner-img--01"> </a>
      <a href="" class="banner-img banner-img--02"> </a>
    </div>
    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
